.home {
   padding-top: 70px;
   
   .container {
        @include customMq(1600px) {
            max-width: 1400px;
        }

        @include customMq(1900px) {
            max-width: 1700px;
        }
    }

    &__col {
        @include mq(md) {
            border-right: 1px solid $midGray;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 700;
        padding-top: 50px;
    }

    &__banner {
        width: 100%;
        margin-bottom: 20px;

        &:first-child {
            padding-top: 50px;
        }

        img {
            width: 100%;
        }
    }
}
