extends ./_layouts/base

include ./_modules/video/video

block content
    main.home
        .container
            .row
                .col-24.col-md-18.home__col
                    .row
                        .col-24
                            h2.home__title Last Videos
                        each video in site.data.videos
                            .col-24.col-md-8
                                +video(video, '')
                .col-24.col-md-6
                    .home__banner
                        img(src="/images/banner1.png")
                    .home__banner
                        img(src="/images/banner2.png")

